<!DOCTYPE html>
<html>
  <head>
    <title>Baymax Chatbot</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Baymax Chatbot
      </h1>
    </header>

    <main>
      <p>Hello, please say something to Baymax!</p>
      <form id="form">
        <input id="yousay" type="text" maxlength="100" placeholder="Hello, baymax!">
        <button id="saybutton" type="button" onClick="tellbaymax()">Say</button>
      </form>
      <div id="chat">
        
        
      </div>
    </main>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/index.js"></script>
    <script src="/client.js"></script>

  </body>
</html>
